.main-container {
    background: linear-gradient(to right, #003d3b, lavender); /* фон */
    display: flex;
    justify-content: center;
    align-items: center;
}

.present-container {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.wellcome-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wellcome-image {
    background-image: url(../../public/Main.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid gray;
    border-radius: 1% 0% 0% 1%;
    width: 400px; /* Ширина блока изображения */
    height: 600px; /* Высота блока изображения */
    flex: 0 0 400px; /* Жестко задаем ширину */
}

.Wellcome-text {
    text-align: center;
    color: whitesmoke;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px; /* Высота блока текста, чтобы совпадала с изображением */
    width: 400px; /* 50% ширины родительского блока .wellcome-content */
    margin: 0 auto; /* Автоматическое выравнивание по горизонтали */
    padding: 0 10px;
    background-color: rgba(0, 0, 0, 0.25); /* Чёрный цвет с 50% прозрачности */
    border: 1px solid transparent;
}

/* Контейнер для логотипов */
.logo-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Стили для logo-section */
.logo-section {
    height: 150px;
    width: 150px;
    margin: 50px; /* Отступы для логотипов */
    border: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: blanchedalmond;
    border-radius: 20px;
    text-align: center;
}

.custom-logo {
    background-color: aliceblue;
    border: 1px solid grey;
    border-radius: 100px;
    width: 50px;
    height: auto;
    padding: 5%;
}

.logo-section p {
    color: black;
    height: 34px;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    margin-top: 2%;
}

/* Стили для .form-container */
.form-container {
    display: flex;
    flex-direction: column; /* Изменяем направление для маленьких и средних экранов */
    justify-content: center; /* Выравниваем по вертикали по центру */
    align-items: center; /* Выравниваем по горизонтали по центру */
    width: 400px; /* Ширина блока изображения */
    height: 600px; /* Высота блока изображения */
    margin-top: -4%;
}

.decor {
    position: relative;
    max-width: 400px;
    margin: 48px auto 0;
    background: white;
    border-radius: 0% 1% 1% 0%;
}

.form-left-decoration,
.form-right-decoration {
    content: '';
    position: absolute;
    width: 50px;
    height: 20px;
    background: #f69a73;
    border-radius: 20px;
    left: -10px;
}

.form-left-decoration {
    bottom: 60px;
    left: -30px;
}

.form-right-decoration:before {
    display: none;
}

.form-left-decoration:before,
.form-left-decoration:after,
.form-right-decoration:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 20px;
    border-radius: 30px;
    background: white;
}

.form-left-decoration:before {
    top: -20px;
}

.form-left-decoration:after {
    top: 20px;
    left: 10px;
}

.form-right-decoration:before {
    top: -20px;
    right: 0;
}

.form-right-decoration:after {
    top: 20px;
    right: 10px;
}

.circle {
    position: absolute;
    bottom: 80px;
    left: -55px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
}

.form-inner {
    height: 572px;
    padding: 0 50px 0 50px;
    text-align: center; /* Центрирование текста по центру формы */
}

.form-inner input,
.form-inner textarea {
    display: block;
    width: 100%;
    padding: 0 0 0 10px;
    margin-bottom: 10px;
    background: #e9eff6;
    line-height: 40px;
    border: none;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
}

.form-inner input[type='submit'] {
    margin-top: 30px;
    background: #f69a73;
    border-bottom: 4px solid #d87d56;
    color: white;
    font-size: 14px;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Добавляем анимацию */
    cursor: pointer; /* Делаем курсор указателем при наведении */
}

.form-inner input[type='submit']:hover {
    background: #d87d56; /* Изменяем цвет при наведении */
}

.form-inner input[type='submit']:active {
    transform: translateY(2px); /* Создаем эффект нажатия */
}

.form-inner textarea {
    resize: none;
}

.form-inner h3 {
    margin-top: 30px;
    padding-top: 50px;
    padding-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #707981;
}

/* Стили для чекбокса и его метки */
.form-inner .form-group input[type='checkbox'] {
    display: inline-block; /* Размещаем чекбокс в одну строку с текстом */
    margin-right: 10px; /* Расстояние между чекбоксом и текстом */
    vertical-align: middle; /* Выравнивание по вертикали с текстом */
}

.form-inner .form-group label[for='consent'] {
    font-size: 14px;
    color: #333;
    display: inline; /* Размещаем текст метки в одну строку с чекбоксом */
    vertical-align: middle; /* Выравнивание по вертикали с чекбоксом */
}

/* Стили для логотипа */
.logo-form-container {
    text-align: center;
    height: 200px;
    width: 200px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Для экранов с шириной до 1200px включительно */
@media screen and (max-width: 768px) {
    .main-container {
        flex-direction: column; /* Элементы будут идти по вертикали сверху вниз */
        align-items: center; /* Выравниваем элементы по центру по горизонтали */
    }

    .wellcome-content {
        flex-direction: column; /* Элементы будут идти по вертикали сверху вниз */
        align-items: center; /* Выравниваем элементы по центру по горизонтали */
    }

    .present-container,
    .logo-wrapper {
        /* Поменяли местами .form-container и .logo-wrapper */
        width: 100%; /* Растягиваем их на всю ширину .main-container */
        max-width: none; /* Отменяем максимальную ширину, если она установлена */
        margin: 20px 0; /* Добавляем отступ между ними */
    }

    .wellcome-image {
        display: none;
    }

    .Wellcome-text {
        width: auto;
        border-radius: 1%;
        margin: 2px;
    }
}

@media screen and (max-width: 480px) {
    .main-container {
        flex-direction: column; /* Элементы будут идти по вертикали сверху вниз */
        align-items: center; /* Выравниваем элементы по центру по горизонтали */
    }

    .wellcome-content {
        flex-direction: column; /* Элементы будут идти по вертикали сверху вниз */
        align-items: center; /* Выравниваем элементы по центру по горизонтали */
    }

    .present-container,
    .logo-wrapper {
        /* Поменяли местами .form-container и .logo-wrapper */
        width: 100%; /* Растягиваем их на всю ширину .main-container */
        max-width: none; /* Отменяем максимальную ширину, если она установлена */
        margin: 20px 0; /* Добавляем отступ между ними */
    }

    .wellcome-image {
        display: none;
    }

    .Wellcome-text {
        width: auto;
        border-radius: 1%;
        margin: 2px;
    }
}

@media screen and (max-width: 1366px) {
    .main-container {
        flex-direction: column; /* Элементы будут идти по вертикали сверху вниз */
        align-items: center; /* Выравниваем элементы по центру по горизонтали */
    }

    .wellcome-content {
        flex-direction: column; /* Элементы будут идти по вертикали сверху вниз */
        align-items: center; /* Выравниваем элементы по центру по горизонтали */
    }

    .present-container,
    .logo-wrapper {
        /* Поменяли местами .form-container и .logo-wrapper */
        width: 100%; /* Растягиваем их на всю ширину .main-container */
        max-width: none; /* Отменяем максимальную ширину, если она установлена */
        margin: 20px 0; /* Добавляем отступ между ними */
    }

    .wellcome-image {
        display: none;
    }

    .Wellcome-text {
        width: auto;
        border-radius: 1%;
        margin: 2px;
    }

    .form-container {
        margin-top: 10px;
    }
}

#notification {
    background: #4caf50;
    color: white;
    padding: 15px;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    display: none;
    z-index: 1000;
}

.hidden {
    display: none;
}
