/* Main.css */
.main-container {
    background: linear-gradient(to right, white, blanchedalmond);
    display: flex;
    justify-content: center;
    align-items: center;
}

.present-container {
    background-image: url(../../public/Main.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* Новый контейнер для текста */
.text-section {
    width: 100%;
    order: -1; /* Поместить текст над логотипами */
    text-align: center; /* Выравнивание текста по центру */
    margin-top: 200px; /* Отступ снизу */
}

/* Контейнер для логотипов */
.logo-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Стили для logo-section */
.logo-section {
    height: 150px;
    width: 150px;
    margin: 50px; /* Отступы для логотипов */
    border: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: blanchedalmond;
    border-radius: 20px;
    text-align: center;
}

.custom-logo {
    background-color: aliceblue;
    border: 1px solid grey;
    border-radius: 100px;
    width: 50px;
    height: auto;
    padding: 5%;
}

p {
    color: black;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    margin-top: 2%;
}

.Wellcome-text {
    text-align: center;
    color: whitesmoke;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; /* Автоматическая высота в зависимости от содержимого */
    width: 90vh;
    padding: 10px;
    margin: 0 auto; /* Автоматическое выравнивание по горизонтали */
    background-color: rgba(0, 0, 0, 0.25); /* Чёрный цвет с 50% прозрачности */
    border: 1px solid transparent;
    border-radius: 20px;
    margin-top: 1%;
}

/* Стили для .form-container */

.decor {
    position: relative;
    max-width: 400px;
    margin: 50px auto 0;
    background: white;
    border-radius: 30px;
}

.form-left-decoration,
.form-right-decoration {
    content: '';
    position: absolute;
    width: 50px;
    height: 20px;
    background: #f69a73;
    border-radius: 20px;
}

.form-left-decoration {
    bottom: 60px;
    left: -30px;
}

.form-left-decoration:before,
.form-left-decoration:after,
.form-right-decoration:before,
.form-right-decoration:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 20px;
    border-radius: 30px;
    background: white;
}

.form-left-decoration:before {
    top: -20px;
}

.form-left-decoration:after {
    top: 20px;
    left: 10px;
}

.form-right-decoration:before {
    top: -20px;
    right: 0;
}

.form-right-decoration:after {
    top: 20px;
    right: 10px;
}

.circle {
    position: absolute;
    bottom: 80px;
    left: -55px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
}

.form-inner {
    padding: 50px;
    text-align: center; /* Центрирование текста по центру формы */
}

.form-inner input,
.form-inner textarea {
    display: block;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 10px;
    background: #e9eff6;
    line-height: 40px;
    border: none;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
}

.form-inner input[type='submit'] {
    margin-top: 30px;
    background: #f69a73;
    border-bottom: 4px solid #d87d56;
    color: white;
    font-size: 14px;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Добавляем анимацию */
    cursor: pointer; /* Делаем курсор указателем при наведении */
}

.form-inner input[type='submit']:hover {
    background: #d87d56; /* Изменяем цвет при наведении */
}

.form-inner input[type='submit']:active {
    transform: translateY(2px); /* Создаем эффект нажатия */
}

.form-inner textarea {
    resize: none;
}

.form-inner h3 {
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #707981;
}

/* Стили для чекбокса и его метки */
.form-inner .form-group input[type='checkbox'] {
    display: inline-block; /* Размещаем чекбокс в одну строку с текстом */
    margin-right: 10px; /* Расстояние между чекбоксом и текстом */
    vertical-align: middle; /* Выравнивание по вертикали с текстом */
}

.form-inner .form-group label[for='consent'] {
    font-size: 14px;
    color: #333;
    display: inline; /* Размещаем текст метки в одну строку с чекбоксом */
    vertical-align: middle; /* Выравнивание по вертикали с чекбоксом */
}

/* Стили для логотипа */
.logo-form-container {
    text-align: center;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20%;
}

@media screen and (max-width: 480px) {
    /* Main.css */
    .main-container {
        background: linear-gradient(to right, white, blanchedalmond);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; /* Изменяем направление для маленьких и средних экранов */
        padding: 20px; /* Добавляем отступы для маленьких и средних экранов */
    }

    .present-container {
        background-image: url(../../public/Main.png);
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    /* Новый контейнер для текста */
    .text-section {
        width: 80%;
        order: -1; /* Поместить текст над логотипами */
        text-align: center; /* Выравнивание текста по центру */
        margin-top: 10px; /* Отступ снизу для маленьких и средних экранов */
        padding: 20px; /* Добавляем внутренний отступ для маленьких и средних экранов */
        background-color: rgba(
            0,
            0,
            0,
            0.25
        ); /* Чёрный цвет с 25% прозрачности */
        border: 1px solid transparent;
        border-radius: 20px;
    }

    /* Контейнер для логотипов */
    .logo-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    /* Стили для logo-section */
    .logo-section {
        height: 150px;
        width: 150px;
        margin: 20px; /* Уменьшаем отступы для маленьких и средних экранов */
        border: 1px solid grey;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: blanchedalmond;
        border-radius: 20px;
        text-align: center;
    }

    .custom-logo {
        background-color: aliceblue;
        border: 1px solid grey;
        border-radius: 100px;
        width: 50px;
        height: auto;
        padding: 5%;
    }

    p {
        color: black;
        font-weight: bold;
        font-size: 14px;
        text-decoration: none;
        text-align: center;
        margin-top: 2%;
    }

    .Wellcome-text {
        text-align: center;
        color: whitesmoke;
        font-size: 16px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto; /* Автоматическая высота в зависимости от содержимого */
        width: 90%; /* Изменяем ширину для маленьких и средних экранов */
        margin: 20px auto; /* Автоматическое выравнивание по горизонтали и увеличиваем отступы */
        background-color: rgba(
            0,
            0,
            0,
            0.25
        ); /* Чёрный цвет с 25% прозрачности */
        border: 1px solid transparent;
        border-radius: 20px;
    }

    /* Стили для .form-container */
    .form-container {
        flex-direction: column; /* Изменяем направление для маленьких и средних экранов */
    }

    .decor {
        position: relative;
        max-width: 400px;
        margin: 50px auto 0;
        background: white;
        border-radius: 30px;
    }
    a {
        font-size: 12px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    /* Main.css */
    .main-container {
        background: linear-gradient(to right, white, blanchedalmond);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; /* Изменяем направление для маленьких и средних экранов */
        padding: 20px; /* Добавляем отступы для маленьких и средних экранов */
    }

    .present-container {
        background-image: url(../../public/Main.png);
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    /* Новый контейнер для текста */
    .text-section {
        width: 80%;
        order: -1; /* Поместить текст над логотипами */
        text-align: center; /* Выравнивание текста по центру */
        margin-top: 20px; /* Отступ снизу для маленьких и средних экранов */
        padding: 10px; /* Добавляем внутренний отступ для маленьких и средних экранов */
        background-color: rgba(
            0,
            0,
            0,
            0.25
        ); /* Чёрный цвет с 25% прозрачности */
        border: 1px solid transparent;
        border-radius: 20px;
    }

    /* Контейнер для логотипов */
    .logo-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    /* Стили для logo-section */
    .logo-section {
        height: 150px;
        width: 150px;
        margin: 20px; /* Уменьшаем отступы для маленьких и средних экранов */
        border: 1px solid grey;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: blanchedalmond;
        border-radius: 20px;
        text-align: center;
    }

    .custom-logo {
        background-color: aliceblue;
        border: 1px solid grey;
        border-radius: 100px;
        width: 50px;
        height: auto;
        padding: 5%;
    }

    p {
        color: black;
        font-weight: bold;
        font-size: 14px;
        text-decoration: none;
        text-align: center;
        margin-top: 2%;
    }

    .Wellcome-text {
        text-align: center;
        color: whitesmoke;
        font-size: 16px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto; /* Автоматическая высота в зависимости от содержимого */
        width: 90%; /* Изменяем ширину для маленьких и средних экранов */
        margin: 20px auto; /* Автоматическое выравнивание по горизонтали и увеличиваем отступы */
        background-color: rgba(
            0,
            0,
            0,
            0.25
        ); /* Чёрный цвет с 25% прозрачности */
        border: 1px solid transparent;
        border-radius: 20px;
    }

    /* Стили для .form-container */
    .form-container {
        flex-direction: column; /* Изменяем направление для маленьких и средних экранов */
    }

    .decor {
        position: relative;
        max-width: 400px;
        margin: 50px auto 0;
        background: white;
        border-radius: 30px;
    }
    a {
        font-size: 16px;
    }
}

@media screen and (min-width: 1201px) {
    a {
        font-size: 18px;
    }
}
