/* Main.css */
.main-container {
    position: relative; /* Устанавливаем позицию "относительно" для позиционирования элементов внутри */
    width: 100%; /* Ширина контейнера */
    height: 400px; /* Высота контейнера */
}

.logo-container {
    position: absolute; /* Устанавливаем абсолютную позицию для контейнера с логотипом */
    top: 20px; /* Отступ сверху */
    left: 20px; /* Отступ слева */
}

.logo {
    width: 100px; /* Задаем ширину логотипа */
    height: auto; /* Высота будет автоматически подстроена для сохранения пропорций */
}

.text-form {
    /* Стили для формы */
    position: absolute; /* Устанавливаем абсолютную позицию для формы */
    bottom: 20px; /* Отступ снизу */
    left: 50%; /* Устанавливаем форму по центру горизонтально */
    transform: translateX(
        -50%
    ); /* Сдвигаем форму на половину ее ширины влево, чтобы она была точно по центру */
    background-color: #ffffff; /* Белый фон формы */
    padding: 20px; /* Отступы внутри формы */
    display: flex; /* Используем Flexbox для выравнивания элементов внутри формы */
    align-items: center; /* Выравниваем элементы вертикально по центру */
    border-radius: 5px; /* Закругляем углы формы */
}

input {
    /* Стили для текстового поля ввода */
    flex: 1; /* Размер текстового поля будет растягиваться, чтобы занимать доступное пространство */
    padding: 10px; /* Отступы внутри текстового поля */
    border: 1px solid #ccc; /* Стиль границы текстового поля */
    border-radius: 5px; /* Закругляем углы текстового поля */
}

/* Стили для кнопки (переиспользуем компонент FormButton) */
/* Добавьте стили для кнопки в зависимости от ваших потребностей */
