/* Общие стили для галереи */
.Gallery {
    background-color: blanchedalmond; /* Цвет фона */
    font-family: sans-serif;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Центрируем элементы */
    width: 100%; /* Ширина занимает всю доступную ширину */
    padding: 15px; /* Добавляем внутренние отступы */
}

/* Стили для изображений */
img:not(.logo-form-container, .custom-logo, .logo) {
    width: 150px; /* Уменьшаем ширину изображений */
    height: 150px; /* Уменьшаем высоту изображений */
    margin: 10px; /* Уменьшаем отступы между изображениями */
    transition: 0.3s ease;
    cursor: pointer;
}

/* Стили для изображений при наведении */
img:hover:not(.example-opened, .logo, .custom-logo, .logo-form-container) {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Уменьшаем тень и масштабируем */
    transform: scale(1.1); /* Немного увеличиваем размер при наведении */
}

/* Стили для открытой картинки (подробного просмотра) */
.example-opened {
    width: 90%; /* Занимает 90% ширины родительского контейнера */
    max-width: 650px; /* Максимальная ширина для больших экранов */
    margin: 20px auto; /* Центрируем и добавляем отступы */
}
