.Gallery {
    font-family: sans-serif;
    text-align: center;
    display: flex;
    justify-content: space-around;
    width: 800px;
    height: 800px;
    flex-wrap: wrap;
    margin: 25px auto;
    transition: 0.3s ease;
}

img {
    width: 200px;
    height: 200px;
    margin: 25px;
    transition: 0.3s ease;
    cursor: pointer;
}

img:hover:not(.opened, .logo) {
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
    transform: scale(1.2);
}

.opened {
    width: 650px;
    height: 650px;
    margin: 100px auto;
}
