/* Header.css */
header {
    background-color: #103c3b; /* Белый фон */
    color: silver; /* Серебряный цвет текста */
    justify-content: space-between; /* Размещаем элементы слева и справа */
    display: flex;
    flex-direction: row-reverse;
    height: 80px; /* Задаем фиксированную высоту для хедера */
}

.logo-container {
    align-items: center; /* Выравниваем элементы вертикально по центру */
    flex: 1; /* Занимаем всё доступное свободное пространство справа */
    display: flex; /* Используем Flexbox для расположения элементов в контейнере */
    justify-content: flex-end; /* Размещаем элементы списка в правом углу */
}

.logo {
    /* Стилизуйте логотип */
    width: 100%; /* Задаем ширину изображения в 100% от контейнера */
    height: 100%; /* Задаем высоту изображения в 100% от контейнера */
    object-fit: contain; /* Масштабируем изображение, чтобы оно полностью умещалось в контейнер */
    display: flex; /* Используем Flexbox для расположения элементов в контейнере */
}

nav {
    width: 30%; /* Задаем ширину навигации */
    display: flex; /* Используем Flexbox для расположения элементов в контейнере */
    justify-content: flex-end; /* Размещаем элементы списка в правом углу */
    align-items: center; /* Выравниваем элементы вертикально по центру */
    flex: 2;
}

ul {
    list-style: none; /* Убираем маркеры списка */
    display: flex; /* Используем Flexbox для расположения элементов списка в ряд */
    margin: 0; /* Убираем отступы по умолчанию у списка */
    padding: 0; /* Убираем отступы по умолчанию у списка */
}

li {
    margin-right: 20px; /* Отступ справа между элементами списка */
}

/* Стили для ссылок внутри li элементов */
ul li a {
    text-decoration: none; /* Убираем подчеркивание для ссылок */
    color: silver; /* Серебряный цвет текста */
}

/* Стили для активной ссылки */
ul li a.active-link {
    font-weight: bold; /* Жирный текст для активной ссылки */
    color: black; /* Черный цвет текста для активной ссылки */
}
