/* Header.css */
header {
    background: blanchedalmond; /* фон */
    color: #000000; /* Серебряный цвет текста */
    justify-content: space-between; /* Размещаем элементы слева и справа */
    display: flex;
    height: 80px; /* Задаем фиксированную высоту для хедера */
}

.logo-container {
    align-items: center; /* Выравниваем элементы вертикально по центру */
    display: flex; /* Используем Flexbox для расположения элементов в контейнере */
    justify-content: flex-end; /* Размещаем элементы списка в правом углу */
    width: 150px; /* Ширина контейнера */
    height: 100%; /* Задаем высоту контейнера равную высоте хедера */
}

.logo {
    /* Стилизуйте логотип */
    width: 100%; /* Задаем ширину изображения в 100% от контейнера */
    height: 100%; /* Задаем высоту изображения в 100% от контейнера */
    object-fit: contain; /* Масштабируем изображение, чтобы оно полностью умещалось в контейнер */
}

nav {
    width: 30%; /* Задаем ширину навигации */
    display: flex; /* Используем Flexbox для расположения элементов в контейнере */
    justify-content: flex-end; /* Размещаем элементы списка в правом углу */
    align-items: center; /* Выравниваем элементы вертикально по центру */
}

ul {
    list-style: none; /* Убираем маркеры списка */
    display: flex; /* Используем Flexbox для расположения элементов списка в ряд */
    margin: 0; /* Убираем отступы по умолчанию у списка */
    padding: 0; /* Убираем отступы по умолчанию у списка */
}

li {
    margin-right: 20px; /* Отступ справа между элементами списка */
}

/* Стили для ссылок внутри li элементов */
ul li a {
    text-decoration: none; /* Убираем подчеркивание для ссылок */
    color: #000000; /* Серебряный цвет текста */
}

/* Стили для активной ссылки */
ul li a.active-link {
    font-weight: bold; /* Жирный текст для активной ссылки */
    color: black; /* Черный цвет текста для активной ссылки */
}

/* styles.css */
body {
    font-family: Roboto, sans-serif;
}

/* Styles for screens up to 768 pixels wide (tablets and smaller) */
@media screen and (max-width: 768px) {
    header {
        width: 100%;
        height: auto; /* Allow the header to adjust its height based on content */
        flex-direction: column; /* Stack elements vertically */
        align-items: center; /* Center elements horizontally */
    }

    .logo-container {
        display: none;
    }

    nav {
        width: 100%; /* Make navigation full width */
        height: 60px;
        justify-content: center; /* Center navigation items horizontally */
    }

    ul {
        flex-direction: row; /* Reset to horizontal alignment */
        align-items: center; /* Center list items vertically */
        font-size: 20px;
    }

    li {
        height: 20px;
        margin-bottom: 0; /* Remove space between list items */
    }

    a a.active {
        height: 100%;
        font-size: 20px;
    }
}

/* Styles for screens up to 480 pixels wide (mobile devices) */
@media screen and (max-width: 480px) {
    .logo-container {
        margin-bottom: 10px; /* Reduce space below the logo */
    }

    ul li {
        font-size: 14px; /* Decrease font size for smaller screens */
        margin-bottom: 8px; /* Reduce space between list items */
    }
}
