/* Prise1.css */

.prise1-container {
    background-color: #006066; /* Задаем фоновый цвет контейнера */
    padding: 20px; /* Добавляем внутренние отступы для контейнера */
}

h2 {
    color: white; /* Задаем цвет текста */
    font-size: 20px; /* Задаем размер шрифта */
    text-align: center; /* Выравниваем текст по центру */
    margin-bottom: 10px; /* Добавляем отступ снизу для заголовка */
}

ul {
    list-style: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем внутренние отступы для списка */
    margin: 0; /* Убираем внешние отступы для списка */
}

li {
    color: white; /* Задаем цвет текста элементов списка */
    font-size: 16px; /* Задаем размер шрифта элементов списка */
    margin-bottom: 5px; /* Добавляем отступ снизу для элементов списка */
}
