/* Price.css */

.prise-container {
    background-color: blanchedalmond; /* Задаем фоновый цвет контейнера */
    padding: 20px; /* Добавляем внутренние отступы для текста */
    max-width: 100%; /* Устанавливаем максимальную ширину контейнера */
    margin: 0 auto; /* Выравниваем контейнер по центру экрана */
    color: #333; /* Устанавливаем цвет текста для лучшей читаемости */
}

h1 {
    width: 80%;
    color: black; /* Задаем цвет текста */
    font-size: 22px; /* Увеличиваем размер шрифта заголовка */
    text-align: center; /* Выравниваем текст по центру */
    line-height: 1.5; /* Задаем высоту строки для лучшего чтения текста */
    margin: 0 auto; /* Центрируем элемент по горизонтали */
}

.prise-container p {
    margin-bottom: 15px; /* Добавляем отступ снизу для абзацев */
}
