/* Prise.css */

.prise-container {
    background-color: #b2a690; /* Задаем фоновый цвет контейнера */
    padding: 20px; /* Добавляем внутренние отступы для текста */
}

h1 {
    color: white; /* Задаем цвет текста */
    font-size: 24px; /* Задаем размер шрифта */
    text-align: center; /* Выравниваем текст по центру */
    line-height: 1.5; /* Задаем высоту строки для лучшего чтения текста */
}
