/* Prise2.css */

.prise-transfer {
    background: linear-gradient(to right, #003d3b, lavender); /* фон */
    height: 50vh;
    padding: 20px; /* Добавляем внутренние отступы для контейнера */
}

.prise-transfer-wrap {
    background-color: blanchedalmond;
    width: 80%;
    padding: 5px;
    margin: 0 auto; /* Выравниваем контейнер по центру экрана */
    border: gray;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
}

h2.transfer {
    color: black; /* Задаем цвет текста */
    font-size: 20px; /* Задаем размер шрифта */
    text-align: center; /* Выравниваем текст по центру */
    margin-bottom: 10px; /* Добавляем отступ снизу для заголовка */
}

p {
    color: white; /* Задаем цвет текста параграфов */
    font-size: 18px; /* Задаем размер шрифта параграфов */
    line-height: 1.5; /* Задаем высоту строки для улучшения читаемости */
}
