/* Prise2.css */

.prise-transfer {
    background-color: blanchedalmond; /* Задаем фоновый цвет контейнера */
    height: 50vh;
    padding: 20px; /* Добавляем внутренние отступы для контейнера */
}

h2.transfer {
    color: black; /* Задаем цвет текста */
    font-size: 20px; /* Задаем размер шрифта */
    text-align: center; /* Выравниваем текст по центру */
    margin-bottom: 10px; /* Добавляем отступ снизу для заголовка */
}

p {
    color: white; /* Задаем цвет текста параграфов */
    font-size: 18px; /* Задаем размер шрифта параграфов */
    line-height: 1.5; /* Задаем высоту строки для улучшения читаемости */
}
